<header aria-labelledby="bannerheadline">
  <a routerLink='/Login'><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo" *ngIf="UserService.IsLoggedIn==false"></a>
  <a routerLink='/Overview'><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo" *ngIf="UserService.IsLoggedIn==true"></a>

  <h1 class="header-title" id="bannerheadline">
    BIG Smart Home
  </h1>
  <nav aria-labelledby="navigationheadline">
    <h2 class="accessibility" id="navigationheadline">Navigation</h2>
    <ul class="navigation-list" *ngIf="UserService.IsLoggedIn">
      <li class="nav-items">
        <ul>
          <li>
             <a [routerLink]="[ '/Options/' ]" class="button" accesskey="2">Optionen</a>
          </li>
          <li>
            <a routeLink='/Login' (click)="UserService.Logout()" class="button" accesskey="1">Abmelden</a>
          </li>
        </ul>
      </li>
      <li class="overflow-icon">
        <a href="#" class="button" accesskey="1">☰</a>
      </li>
    </ul>
  </nav>
</header>