<div class="main-container">

  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <div class="server-info-container">
      <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
      <dl class="server-data properties">
        <dt class="accessibility">Serverstatus:</dt>
        <dd class="server-status">Serverstatus:</dd>
        <dt>Benutzer</dt>
        <dd>
          <span class="system-start-time">Administrator</span>
        </dd>
        <dt>Systemstartzeit</dt>
        <dd>
          <span class="system-start-time">10:00</span>
        </dd>
        <dt>Systemstartdatum</dt>
        <dd>
          <span class="system-start-datum">06.03.2017</span>
        </dd>
        <dt>Fehlgeschlagene Logins</dt>
        <dd>
          <span class="failed-logins">3</span>
        </dd>
      </dl>
    </div>
  </aside>

  <main aria-labelledby="deviceheadline" class="details-container">
    <div attr.data-device-id="{{Device.id}}" class="details-headline">
      <h2 class="main-headline" id="deviceheadline">{{Device.display_name}}</h2>
    </div>
    <div class="details-holder" *ngFor="let c of Device.control_units">
      <!-- Steuerung für kontinuierliche Werte -->
      <div class="details-outer">
        <div class="details-image-container">
          <img class="details-image" src="../../images/placeholder_continuous.PNG">
        </div>
        <div class="details-data">
          <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
          <textarea id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6" #text>
          </textarea>
          <div class="details-settings">
            <h3 class="details-headline">{{c.name}}</h3>
            <!-- Steuerung für kontinuierliche Werte -->
            <form class="update-form" method="post" *ngIf="c.type==2">
              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{c.current}}</span>
              </label>
              <label class="accessibility" for="new-value">Bitte gewünschten Wert eingeben.</label>
              <input type="number" step="0.01" min="{{c.min}}" min="{{c.max}}" id="new-value" value="1" class="update-form-field form-input"
                name="new-value" #num required>
              <input type="submit" id="submit-value" class="update-form-field button" name="submit-value" value="Wert setzen" (click)="text.value=GenerateLog(text.value,c,num.value); SetContinuous(c,num.value);">
            </form>
            <!-- Steuerung für diskrete Werte -->
            <form class="update-form" method="post" *ngIf="c.type==1">
              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{c.values[c.current]}}</span>
              </label>
              <label class="accessibility" for="new-value">Bitte gewünschten Wert aus Menü auswählen.</label>
              <select id="new-value" class="update-form-field form-input" name="new-value" #select required>
                <option *ngFor="let v of c.values; let i = index" [ngValue]="i" title="{{i}}">{{v}}</option>
              </select>
              <input type="submit" id="submit-value" class="update-form-field button" name="submit-value" value="Wert setzen"
               (click)="text.value=GenerateLog(text.value,c,select.selectedIndex); SetEnum(c,select.selectedIndex);">
            </form>
            <!-- Steuerung für boolesche Werte -->
            <form class="update-form" method="post" *ngIf="c.type==0">

              <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{c.current==1 ?'Aktiviert' : 'Deaktiviert'}}</span>
              </label>

              <label class="accessibility" for="new-value">Bitte gewünschten Wert auswählen.</label>
              <input type="checkbox" id="new-value" class="update-checkbox-input form-input" name="new-value" #check>
              <input type="submit" id="submit-value" class="update-form-field button" name="submit-value" value="Wert setzen"
                (click)="text.value=GenerateLog(text.value,c,check.checked); Setboolean(c,check.checked);">
            </form>
          </div>
        </div>
      </div>
    </div>


  </main>
</div>