
html
{
	height: 100%;
	min-height: 100%;
	font-family:Arial;
}
body
{
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: #fb7700; 
    background: -webkit-linear-gradient(#F0F2F5, #D4D9E8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F0F2F5, #D4D9E8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F0F2F5, #D4D9E8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F0F2F5, #D4D9E8); /* Standard syntax */
}

#header
{
	height: 100%;
    background: #fb7700; 
    background: -webkit-linear-gradient(#fb7700, #cc4800); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb7700, #cc4800); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb7700, #cc4800); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb7700, #cc4800); /* Standard syntax */

	-webkit-box-shadow:  6px 6px 4px 6px #B7B8BA;
  	-moz-box-shadow: 6px 6px 4px 6px #B7B8BA;
  	box-shadow: 6px 6px 4px 6px #B7B8BA;
}

#header h1
{
	margin:0em;
	font-weight:bold;
	font-size: 2em;
	line-height: 2em;
	color: #333333;
}
#header img{
	margin: 0.5em;
}
#header .button
{
	width: auto;
	display: right;
	margin: 0;
}
#header ul li
{
  display: inline;
  list-style-type: none;
  padding-right: 1em;
  line-height: 2em;
  margin: 0;
}
.fullWidth
{
	width:100%;
}
.innerContent
{
	padding:23px;
}
.footerText
{
	padding-left:28%;
}

.roundborder
{
	border-radius: 4px;
	border-style:solid;
	width:100%;
}
input
{
	height:33px;
	margin-top: 10px;
	margin-bottom: 15px;
	width:99%;
	border-color: #CCCCCC;
}

.button 
{
	background-color: #0066a7;
	background: -webkit-linear-gradient(#0066a7, #003b7c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0066a7, #003b7c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0066a7, #003b7c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0066a7, #003b7c); /* Standard syntax */
    border-color:#003b7c;
	border-style: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-left:0%;
}


#content
{
	min-height:483px;
	max-height:483px;
}
#footer
{
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


.row:after
{
	clear:left;
}

.left
{
	float: left;
}
.right
{
	float:right;
}
.clear
{
	clear: both;
}
.widthhalf
{
	width: 50%;
}
	
@media screen and (max-width:400px)
{
	.colHeader
	{
		padding-top: 0px;
		float:none;
	}

	.colContent
	{
		clear:left;
	}
}

@media screen and (min-width:400px)
{
	.colHeader
	{
		width:50%;
		float:left;
		padding-top: 19px;
	}

	.colContent
	{
		width:50%;
		float:left;
	}	
	.button 
	{	
		margin-left:25%;
		width:50%;
	}
}
@media screen and (min-width:600px)
{
	
}
@media screen and (min-width:768px)
{
	
}
@media screen and (min-width:1200px)
{
	
}
