	.option{
		display:inherit;
	}
	.logout{
		display:inherit;
	}

#content
{
	min-height:1980px;
	max-height:1980px;
}
.innerContent
{
	padding:15px;
}

.halfwidth
{
	width:50%;
}

.background-White
{
	background-color:white;
}
.component
{
	height:180px;
}
.component-margin
{
	margin-bottom:20px;
}

@media screen and (max-width:399px)
{
	.option{
		display: none !important;
	}
	.logout{
		display: none !important;
	}
}
@media screen and (min-width:400px)
{
	.hamburger{
		display: none !important;
		padding:0;
	}
	hamburger::before
	{
		padding:0;
	}
}
@media screen and (max-width:600px)
{
	/*.hamburger
	{
		display: none !important;
	}*/
}
@media screen and (max-width:768px)
{
	/*.hamburger
	{
		display: none !important;
	}*/
}
/*if device is bigger then 1200*/
@media screen and (min-width:1200px)
{
	/*.hamburger
	{
		display: none !important;
	}*/
}
