	.option{
		display:inherit;
	}
	.logout{
		display:inherit;
	}

#content
{
	min-height:1980px;
	max-height:1980px;
}
.innerContent
{
	padding:15px;
}

.halfwidth
{
	width:50%;
}

.background-White
{
	background-color:white;
}
.component
{
	height:180px;
}
.component-margin
{
	margin-bottom:20px;
}

@media screen and (max-width:400px)
{
		.option{
		display: none !important;
	}
	.logout{
		display: none !important;
	}
}
@media screen and (max-width:600px)
{

}
@media screen and (max-width:768px)
{

}
@media screen and (max-width:1200px)
{

}
